a{

}
body{
	
}
h2{
	font-size: 2.5rem;
	font-family: 'Montserrat';
	font-weight: 900;
	line-height: 1.5;
}

.button{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;

}
.button-pricing{
	position: relative;
	top: 40px;
}

.carousel-item{
	padding: 7% 15%;
}
.container-fluid{
	padding: 3% 15%;
}
.cta1{
	text-align: right;
}
.icons{
	color: #ef8172;
	padding-bottom: 1rem;
}
.icons:hover{
	color: #ff4c68;
}
.iphone6{
	margin-top: 30px;
	width: 95%;
}
.navbar{
	padding:0;
}
.navbar-brand{
	font-size: 200%;
}
.nav-item{
	padding-left: 10px;
	padding-right: 10px;
}
.nav-link{
	font-size: 1.25rem;
	font-family: montserrat;
}
.pricing{
	text-align: center;
	padding: 40px 30px 30px 30px;
}
.press{
	width: 10%;
	padding:  20px 20px 50px 20px;
}
.row2{
	font-family: 'Montserrat';
}
.row2-1{
	font-size: 1.5rem;
}
.row2-2{
	font-family: sans-serif;
	font-weight: lighter;
	color: #8f8f8f;
}
.testimonial-image{
	width: 10%;
	border-radius: 100%;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	margin: 1.25rem;
}
.testimonial-image:hover{
	opacity: 80%;
}
/*******id*******/
#cta{
	background-color: #343a40;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	color:white;
	display: flex;
}
#footer{
	background-color: #343a40;
	display: inline-block;
	color: white;
	width: 100%;
	text-align: center;
	padding:30px 0 30px 0;
}
#price{
	color: #FF655B;
}
#pricing{
	margin-bottom: 60px;
	padding: 5% 10%;
	width: 90%;
	margin: auto;
}
#press{
	background-color: #FF655B;
	text-align: center;
	padding-bottom: 3%;
}
#row1{
	padding: 10% 0 0px 0;
}
#row2{
	padding: 10% 0 10% 0;
}
#testimonials{
	background-color: #FF655B;
	text-align: center;
	color: white;
}
#title{
	background-color: #FF655B;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
}